<app-header-nolog/>

<div class="login-container">
  <div class="form-section">
    <div class="form-container">
      <div class="header">
        <div class="icon-container">
          <i class="fas fa-cog fa-spin"></i>
        </div>
        <h1>¡Bienvenido de nuevo!</h1>
        <p>Nos alegra verte otra vez. Por favor, ingresa tus datos para continuar.</p>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">

        <!-- Campo de Correo Electrónico -->
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Correo electrónico</mat-label>
          <input matInput formControlName="email" type="email" placeholder="Ingresa tu correo electrónico" />
          <mat-error *ngIf="controlHasError('email', 'required')">Este campo es obligatorio</mat-error>
          <mat-error *ngIf="controlHasError('email', 'email')">Introduce un correo electrónico válido</mat-error>
        </mat-form-field>

        <!-- Campo de Contraseña -->
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Ingresa tu contraseña" />
          <mat-error *ngIf="controlHasError('password', 'required')">Este campo es obligatorio</mat-error>
        </mat-form-field>

        <!-- Enlace para Recuperar Contraseña -->
        <div class="forgot-password">
          <a routerLink="/recuperar-contraseña" class="link">¿Olvidaste tu contraseña?</a>
        </div>

        <!-- Botón de Iniciar Sesión -->
        <button mat-raised-button color="primary" type="submit" class="submit-btn">
          <i class="fas fa-sign-in-alt"></i>
          Iniciar sesión
        </button>
      </form>

      <!-- Enlace para Registro -->
      <div class="auth-links">
        <p>¿Eres nuevo aquí? <a routerLink="/auth/register" class="link">Regístrate ahora</a></p>
      </div>
    </div>
  </div>
</div>


