<nav class="navbar">
    <div class="navbar-logo">
      <img src="landing2.png" alt="TechConnect Logo">
      <span>TechConnect</span>
    </div>
    <ul class="navbar-links">
      <li><a href="#">Encontrar eventos</a></li>
      <li><a href="#">Crear eventos</a></li>
    </ul>
    <div class="navbar-search">
      <input type="text" placeholder="Buscar...">
      <button type="button"><i class="search-icon"></i></button>
    </div>
    <div class="navbar-auth">
      <a routerLink = "/iniciar-sesion">INICIAR SESION</a>
      <a routerLink = "/registro-usuario">REGISTRARSE</a>
    </div>
  </nav>
  

<div class="landing-container">
    <header class="hero-section">
      <div class="hero-text">
    
      </div>
    </header>
  
    <section class="benefits-section">
      <h2>¿Por qué asistir?</h2>
      <div class="benefits">
        <div class="benefit">
          <img src="foto1.png" alt="Expertos">
          <h3>Aprende de expertos</h3>
          <p>Conoce las mentes más brillantes del mundo tecnológico.</p>
        </div>
        <div class="benefit">
          <img src="foto1.png" alt="Networking">
          <h3>Networking profesional</h3>
          <p>Conéctate con otros profesionales del sector.</p>
        </div>
        <div class="benefit">
          <img src="foto1.png" alt="Tecnología">
          <h3>Acceso a tecnología</h3>
          <p>Descubre las últimas innovaciones en el sector.</p>
        </div>
      </div>
    </section>
  
    <section class="upcoming-events">
      <h2>Próximos Eventos</h2>
      <div class="event-card">
        <img src="eventos-tecnológicos1.jpg" alt="Evento 1">
        <h3>Nombre del Evento</h3>
        <p>Fecha: 12 Nov 2024</p>
        <p>Ubicación: Trujillo</p>
        <a href="#" class="view-event-button">Ver evento</a>
      </div>
    </section>
  
    <section class="testimonials">
      <h2>Lo que dicen nuestros asistentes</h2>
      <blockquote>
        "Un evento increíble que me permitió conocer lo último en tecnología."
        <cite>- María López</cite>
      </blockquote>
    </section>
  
    <footer class="sponsors">
      <h2>Patrocinadores</h2>
      <div class="sponsor-logos">
        <img src="franco.png" alt="Patrocinador 1">
        <img src="carlos.png" alt="Patrocinador 2">
        <img src="melissa.png" alt="Patrocinador 2">
        <img src="sergio.png" alt="Patrocinador 2">
        <img src="angelo.png" alt="Patrocinador 2">
      </div>
    </footer>
  </div>
  