<!-- Navbar -->
<nav class="navbar">
  <div class="container">
    <div class="logo">
      <img src="logo.png" alt="TechConnect" class="logo-img">
      <span class="logo-text">TechConnect</span>
    </div>
    <div class="nav-links">
      <a routerLink = "/encontrar-evento">Encontrar eventos</a>
    </div>
    <div class="auth-section">
      <button class="btn" routerLink = "/iniciar-sesion" >Iniciar Sesión</button>
      <button class="btn-primary" routerLink = "/registro-usuario" >Registrarse</button>
    </div>
  </div>
</nav>
