<app-header-log/>

<!-- Hero Section -->
<header class="hero">
  <div class="hero-content">
    <h1>Conecta con la Comunidad Tech</h1>
    <p>Descubre eventos tecnológicos únicos y conéctate con profesionales del sector</p>
  </div>
</header>

<div class="event-list">
  <h1>Gestionar Eventos</h1>
  <table>
    <thead>
    <tr>
      <th>Título</th>
      <th>Categoria</th>
      <th>Ubicación</th>
      <th>Tipo</th>
      <th>Fecha</th>
      <th>Hora inicio</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let event of events">
      <td>{{ event.event_nombre }}</td>
      <td>{{ event.categoriaEvento }}</td>
      <td>{{ event.eventLugar }}</td>
      <td>{{ event.esPagado ? 'Pago' : 'Gratuito' }}</td>
      <td>{{ event.eventFecha | date: 'dd/MM/yy' }}</td>
      <td>{{ event.eventHora }}</td>
      <td>
        <button (click)="deleteEvent(event.id)">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
